.env
models/
data/
*.pt
*.log
*.err
*.out
*.log.gz
*.log.bz2
*.log.xz
*.log.lzma
*.log.zstd
__pycache__/
.gradio
el_audios/
01_hold_lr_run/
02_warmup_lr_run/
03_regularized_run/
models-s
test
kazemotts_emotion_metrics.json
wandb/
models-baseline
eval-baseline
results*/